@mixin movil {
    @media (min-width: 500px){
        @content;
    }
}

@mixin tablet {
    @media (min-width: 700px){
        @content;
    }
}

@mixin desktop {
    @media (min-width: 900px){
        @content;
    }
}