.recetas{
    background-color: $color_fondo; 
    text-align: center;
    
}

.recetas__title{
    font-size: 3rem;
    font-weight: 700;
    margin-left: 1rem;
    //font-family: 'Gloria Hallelujah', cursive;
    
}

.carousel__txt{
    position: absolute;
    font-size: 2rem;
    text-align: right;
    font-weight: 500;
}
.carousel__txt-especias{
    color: blanchedalmond;
    margin: 17rem 1rem 0 6.5rem;
    @include desktop{
        margin:29rem 0rem 0 16rem;
    }
}
.carousel__txt-sano{
    color: blanchedalmond;
    margin: 9rem 1rem 0 5rem;
    @include desktop{
        margin:15.5rem 0rem 0 14rem;
    }
}
.carousel__txt-postres{
    color:coral;
    text-align: right;
    margin: 2rem 2.5rem 0 10rem;
    @include desktop{
        color: lawngreen;
    }
}

.imgItem{
    width: 100%;
}
.carousel__style{

    @include desktop{
        margin: 0 auto;
        width: 50rem;
    }
}









