.specialpost{
    @include desktop{
        display: flex;
    }
}
.specialPost__card{
margin-top: 1rem;
padding-bottom: 0.8rem;
border: 0.1rem dotted black;

        @include desktop{
            width: 35%;
            
        }
        h3{
            padding: 1rem;
        }
}
.specialPost__txt{
    font-size: 1.4rem;
    padding: 1rem;

}
.specialPost__receta-title{
    font-size: 2rem;
    margin-left:3rem;

}
.specialpost__img{
    margin-top: 1rem;
    width: 100%;
}

