.container__photo{
    min-height: 45vh;
    background-image: url(/assets/fondo_alimentos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
    @include desktop{
        min-height: 60vh;
    }
    
}
.container__title{
    font-weight: 700;
    text-align: center;
    font-size: 5rem;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 1.5rem;
    margin: 0 auto;
    @include desktop{
        padding: 2rem;
        font-size: 6rem;
    }
}

.container__subtitle{
    
    position: absolute;
    text-align:right;
    margin: 0rem 2rem 0 10rem;
    @include tablet{
        text-align: left;
        margin-top: 10rem ;
    }
    @include desktop{
        text-align: left;
        margin-top: 8rem ;
    }

        p{
            font-size: 1.2rem;
        }
}

.container__btn{
    border-radius: 0.5rem;
    //background-color: rgba($color_fondo, $alpha: 0.6);
}
.navbar__color{
    background-color: rgba($color_fondo, $alpha: 0.6);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: black;
}
.nav-link{
    color: black;
    font-size: 1.6rem;
}
.form-control{
    border-radius: 0.5rem;
}
.btn_filter{
    background-color: black;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    color: cornsilk;
    margin-right: 2rem;
}

