.recetas__entrantes{
font-size: 1.6rem;
h2{
    font-size: 3rem;
    text-align: center;
    margin: 0rem 0 0.5rem 2rem;
}
}

.recetaE__card{
    background-color: $color_fondo;
    border-radius: 0.5rem;
    height: 40rem;
    overflow: hidden;
    margin-bottom: 1rem;
    cursor: pointer;
    h4{
        padding: 1rem;
        font-size: 1.8rem;
    }
        

}
.entrantes__img{
width: 100%;
max-height: 30rem;
}
.recetas__entrantes-btn{
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    
    }
.recetas__entrantes__txt{
    margin: 0rem 2rem 0rem 2rem;
}
.card__preparation{
    text-align: center;
}