.recetas__grupos__section{
    
    font-size: 1.5rem;
    h3{
        font-size: 2rem;
        color: black;
    }

}
.recetas__grupos{
    @include desktop{
        padding: 1rem;
        display: flex;
    }

}
.recetas_tipo{
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    
}
.recetas__grupos__txt{
    position: absolute;
    text-align: left;
    color: blanchedalmond;
    margin: 5rem 12rem 0 2rem;
    @include desktop{
        margin-right: 80rem;
    }
}
.recetas__grupos__divimg{
    margin-top: 1.5rem;
    width: 100%;
    
}
.recetas__grupos__img{
    width: 100%;
    height: 20rem;
    image-rendering: auto;
   
    
}
.recetas__grupos__boton{
    text-decoration: none;
    cursor: pointer;
}
.recetas__grupos__txt2{
    position: absolute;
    margin:2rem 4rem 0 2rem;
    color: black;
    font-weight: bold;
    @include desktop{
       margin:4rem 45rem 0rem 2rem;
    }
}
.recetas__grupos__txt3{
    position: absolute;
    margin:2rem 4rem 0 2rem;
    color: blanchedalmond;
    @include desktop{
        margin:4rem 14rem 0rem 2rem;
     }
}