.registro__container{
    position: absolute;
    margin-top: -120rem;
    padding: 1rem;
    border: black 0.1rem solid;
    background-color: rgba($color: $color_fondo, $alpha: 0.9);
    text-align: center;
    height: 100%;
    @include desktop{
     margin-left: 10rem;
    }
  
        h1{
            font-size: 3rem;
        }
}
.registro__formulario{
    font-size: 1.6rem;
}
.registro__imgLogin{
    box-sizing: content-box;
    padding: 2rem;
    width: 14rem;
    height: 11.5rem;
    @include desktop{
        width: 20rem;
        height: 17rem;
    }
}
.registro__boton{
    border-radius: 0.4rem;
    padding:0.3rem;
    padding-inline: 1.2rem;
}
.registro__botonCerrar{
    width: 3rem;
    height: 3rem;
    position: absolute;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    @include desktop{
        margin-left: 35rem;
        cursor: pointer;
    }
}
.registro__txt__a{
    cursor: pointer;
}
.registro__newUser{
    margin: 0 auto;
    width: 80%;
}


