* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.registro__container {
  position: absolute;
  margin-top: -120rem;
  padding: 1rem;
  border: black 0.1rem solid;
  background-color: rgba(216, 201, 201, 0.9);
  text-align: center;
  height: 100%;
}

@media (min-width: 900px) {
  .registro__container {
    margin-left: 10rem;
  }
}

.registro__container h1 {
  font-size: 3rem;
}

.registro__formulario {
  font-size: 1.6rem;
}

.registro__imgLogin {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 2rem;
  width: 14rem;
  height: 11.5rem;
}

@media (min-width: 900px) {
  .registro__imgLogin {
    width: 20rem;
    height: 17rem;
  }
}

.registro__boton {
  border-radius: 0.4rem;
  padding: 0.3rem;
  padding-inline: 1.2rem;
}

.registro__botonCerrar {
  width: 3rem;
  height: 3rem;
  position: absolute;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

@media (min-width: 900px) {
  .registro__botonCerrar {
    margin-left: 35rem;
    cursor: pointer;
  }
}

.registro__txt__a {
  cursor: pointer;
}

.registro__newUser {
  margin: 0 auto;
  width: 80%;
}

.container__photo {
  min-height: 45vh;
  background-image: url(/assets/fondo_alimentos.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
}

@media (min-width: 900px) {
  .container__photo {
    min-height: 60vh;
  }
}

.container__title {
  font-weight: 700;
  text-align: center;
  font-size: 5rem;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 1.5rem;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .container__title {
    padding: 2rem;
    font-size: 6rem;
  }
}

.container__subtitle {
  position: absolute;
  text-align: right;
  margin: 0rem 2rem 0 10rem;
}

@media (min-width: 700px) {
  .container__subtitle {
    text-align: left;
    margin-top: 10rem;
  }
}

@media (min-width: 900px) {
  .container__subtitle {
    text-align: left;
    margin-top: 8rem;
  }
}

.container__subtitle p {
  font-size: 1.2rem;
}

.container__btn {
  border-radius: 0.5rem;
}

.navbar__color {
  background-color: rgba(216, 201, 201, 0.6);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  color: black;
}

.nav-link {
  color: black;
  font-size: 1.6rem;
}

.form-control {
  border-radius: 0.5rem;
}

.btn_filter {
  background-color: black;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  color: cornsilk;
  margin-right: 2rem;
}

.recetas {
  background-color: #d8c9c9;
  text-align: center;
}

.recetas__title {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 1rem;
}

.carousel__txt {
  position: absolute;
  font-size: 2rem;
  text-align: right;
  font-weight: 500;
}

.carousel__txt-especias {
  color: blanchedalmond;
  margin: 17rem 1rem 0 6.5rem;
}

@media (min-width: 900px) {
  .carousel__txt-especias {
    margin: 29rem 0rem 0 16rem;
  }
}

.carousel__txt-sano {
  color: blanchedalmond;
  margin: 9rem 1rem 0 5rem;
}

@media (min-width: 900px) {
  .carousel__txt-sano {
    margin: 15.5rem 0rem 0 14rem;
  }
}

.carousel__txt-postres {
  color: coral;
  text-align: right;
  margin: 2rem 2.5rem 0 10rem;
}

@media (min-width: 900px) {
  .carousel__txt-postres {
    color: lawngreen;
  }
}

.imgItem {
  width: 100%;
}

@media (min-width: 900px) {
  .carousel__style {
    margin: 0 auto;
    width: 50rem;
  }
}

@media (min-width: 900px) {
  .specialpost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.specialPost__card {
  margin-top: 1rem;
  padding-bottom: 0.8rem;
  border: 0.1rem dotted black;
}

@media (min-width: 900px) {
  .specialPost__card {
    width: 35%;
  }
}

.specialPost__card h3 {
  padding: 1rem;
}

.specialPost__txt {
  font-size: 1.4rem;
  padding: 1rem;
}

.specialPost__receta-title {
  font-size: 2rem;
  margin-left: 3rem;
}

.specialpost__img {
  margin-top: 1rem;
  width: 100%;
}

.recetas__grupos__section {
  font-size: 1.5rem;
}

.recetas__grupos__section h3 {
  font-size: 2rem;
  color: black;
}

@media (min-width: 900px) {
  .recetas__grupos {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.recetas_tipo {
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

.recetas__grupos__txt {
  position: absolute;
  text-align: left;
  color: blanchedalmond;
  margin: 5rem 12rem 0 2rem;
}

@media (min-width: 900px) {
  .recetas__grupos__txt {
    margin-right: 80rem;
  }
}

.recetas__grupos__divimg {
  margin-top: 1.5rem;
  width: 100%;
}

.recetas__grupos__img {
  width: 100%;
  height: 20rem;
  image-rendering: auto;
}

.recetas__grupos__boton {
  text-decoration: none;
  cursor: pointer;
}

.recetas__grupos__txt2 {
  position: absolute;
  margin: 2rem 4rem 0 2rem;
  color: black;
  font-weight: bold;
}

@media (min-width: 900px) {
  .recetas__grupos__txt2 {
    margin: 4rem 45rem 0rem 2rem;
  }
}

.recetas__grupos__txt3 {
  position: absolute;
  margin: 2rem 4rem 0 2rem;
  color: blanchedalmond;
}

@media (min-width: 900px) {
  .recetas__grupos__txt3 {
    margin: 4rem 14rem 0rem 2rem;
  }
}

.recetas__entrantes {
  font-size: 1.6rem;
}

.recetas__entrantes h2 {
  font-size: 3rem;
  text-align: center;
  margin: 0rem 0 0.5rem 2rem;
}

.recetaE__card {
  background-color: #d8c9c9;
  border-radius: 0.5rem;
  height: 40rem;
  overflow: hidden;
  margin-bottom: 1rem;
  cursor: pointer;
}

.recetaE__card h4 {
  padding: 1rem;
  font-size: 1.8rem;
}

.entrantes__img {
  width: 100%;
  max-height: 30rem;
}

.recetas__entrantes-btn {
  margin: 1rem 0 1rem 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.recetas__entrantes__txt {
  margin: 0rem 2rem 0rem 2rem;
}

.card__preparation {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */